# compilation and distribution
__pycache__/
_ext
*.pyc
*.so
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb

# Editor temporaries
*.swn
*.swo
*.swp
*~
*.ipynb
# Pycharm editor settings
.idea
*.bin
# project dirs
