[submodule "lib/deps/nuscenes"]
	path = lib/deps/nuscenes
	url = https://github.com/poodarchu/nuscenes.git
[submodule "lib/deps/spconv"]
	path = lib/deps/spconv
	url = https://github.com/traveller59/spconv.git
[submodule "lib/deps/apex"]
	path = lib/deps/apex
	url = https://github.com/NVIDIA/apex.git
