# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/

nusc_lr_03_output
# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
*.ipynb
# Pycharm editor settings
.idea
*.bin
# project dirs
./ropeproject
show.py
show2.py
./kitti
./datasets
./models
./output
./nusc_output
./kitti_output
./kitti_output_8batch
